<html>

<head>
    <title>Weather App</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: ivory;
        }

        h1 {
            color: aliceblue;
        }

        img {
            transform: scale(200%);
        }

        .centerCard {
            margin: 50px 230px;
            background-color: black;
            border-radius: 10px;
            box-shadow: 10px 10px #ccc;
        }

        .infoCard {
            background-color: lightseagreen;
        }

        .info {
            margin-left: 27rem;
            margin-top: 30px;
            padding-bottom: 40px;
            text-align: justify;
            color: aliceblue;
        }

        #title {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }



        .heading {
            text-align: center;
        }
    </style>
</head>

<body>